<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="themedark" value="0" />
		<add key="BaudRate" value="9600" />
		<add key="Parity" value="0" />
		<add key="ReadTimeout" value="-1" />
		<add key="WriteTimeout" value="-1" />
		<add key="Handshake" value="0" />
		<add key="Databits" value="8" />
		<add key="Stopbits" value="0" />
	</appSettings>
</configuration>