<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="themedark" value="0" />
		<add key="baudrate" value="9600" />
		<add key="parity" value="0" />
		<add key="readtimeout" value="-1" />
		<add key="writetimeout" value="-1" />
		<add key="handshake" value="0" />
		<add key="databits" value="8" />
		<add key="stopbits" value="1" />
	</appSettings>
</configuration>